.navbar{
    padding: .5rem 8.5rem;
}

.navbar-collapse{
    justify-content: flex-end;
}

nav .nav-link{
    font-weight: bold;
}
nav .nav-link:hover{
    color:hsl(0, 94%, 66%)!important;
    font-weight: bold;
}
@media(max-width:768px){
    .navbar{
        padding: .5rem 1rem;
    }
}
